* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family:'Ŕoboto', sans-serif;
    
}
h1, h2, h3, h4, h5, h6{
  color: #1d273b;
  font-weight: 300;
}
.contenedor{
  
  width: 120%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.contenedor1{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

h1{
  font-size: 50px;

}


/*HEADER*/
header::before{
  content: "";
  display: block;
  margin-bottom: 80px;

}
nav{
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solido transparent;
  /*sombra en el nav*/
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  z-index: 100;
  /*transition: ease-in-out 0.5s;*/
}
.nav{
 display: flex;
 justify-content: space-between;
 height: 80px;
 width: 100%;
 align-items: center;
 padding: 0 40px;

}
.nav.logo{
  height: 80px;

}
nav.logo img{
  height: 100%;
  vertical-align: top;
}

.enlacesHeader{
font-weight: 300;
transition: ease-in-out 0.5s;
}
.nav .enlacesHeader a{
  color: #5D6678;
  text-decoration: none;
  margin-left: 20px;
}

/* 
HAMBURGUESA  NAV
*/
.hamburquesa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13%;
  color: #090909;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
          box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.hamburquesa:hover {
  border: 1px solid white;
}

.hamburquesa:active {
  color: #666;
  -webkit-box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
          box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

input[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.hamburquesa span {
  width: 30px;
  height: 4px;
  background: #131313;
  border-radius: 800px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type]:checked ~ span.arriba {
  -webkit-transform: translateY(290%)rotate(45deg);
      -ms-transform: translateY(290%)rotate(45deg);
          transform: translateY(290%)rotate(45deg);
  width: 40px;
}

input[type]:checked ~ span.abajo {
  -webkit-transform: translateY(-270%) rotate(-45deg);
      -ms-transform: translateY(-270%) rotate(-45deg);
          transform: translateY(-270%) rotate(-45deg);
  width: 40px;
  -webkit-box-shadow: 0 0 10px #495057;
          box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.medio {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}/*FIN HAMBURGESA*/


/*
.hamburguesa{
  width: 80px;
  height: 80px;
  display:none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  /*transition: color 0.5s ease-in;*/
/*}*/
/*
.hamburguesa > i{
  font-size: 25px;
  line-height: 80px;

}*/
.portada{
  background: url("img/fondo.jpg")no-repeat fixed center;
  background-size: cover;
 
}

.contenidoHeader{
  padding: 0.7em 1.7em;
  width: 100%;
  height: 600px;
  /*flex*/
  
  display: flexbox;
  justify-content: space-between;
  align-items: center;

}

.contenidoHeader>img{
  width: 550px;
  animation: ease-in animat 1s;
}
@keyframes animat {
  0% {
      transform: scale(0);
  }

  100% {
      transform: scale(1);
  }
}

/*  SIPEOSCA Establece la posición de la imagen */
/* Agrega una transición suave */
.contenedorSipe{

  position: relative;
  top: 0;
  height: 300px;
}

/* Aplica el movimiento en el eje vertical */
img:hover {
  transition: transform 0.5s ease-in-out;
  transform: translateY(50px);
}
 
.containerOsca {
  height: 300px;
  position: relative;
  margin: 0;
  left: 15%;
}



.contenidoHeader p {
  font-weight: 100;
  margin-top: 14px;
  margin-bottom: 14px;
 
}

/*Botones*/

.boton {

  display: inline-block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  text-transform: uppercase;
  text-align: center;
  
  -webkit-box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
          box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.boton:active {
  color: #666;
  -webkit-box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
          box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.boton:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.boton:after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.boton:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.boton:hover:before {
  top: -35%;
  background-color: #009087;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.boton:hover:after {
  top: -45%;
  background-color: #009087;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/*FIN BOTON*/

/*Separador*/
.loader{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.loader span{
  height: 20px;
  width: 20px;
  background-image: -webkit-gradient(linear , left top, right top , from(#333) , color-stop(#233),color-stop(#222),color-stop(#122),color-stop(#112),color-stop(#111),color-stop(#011),color-stop(#001),to(#000));
  background-image: linear-gradient(to right , #333 , #233,#222,#122,#112,#111,#011,#001,#000);
  border-radius: 50%;
  -webkit-animation-name: animar;
          animation-name: animar;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-box-shadow:  20px 20px 18px #666666,
             -20px -20px 18px #ffffff;
          box-shadow:  20px 20px 18px #666666,
             -20px -20px 18px #ffffff;
}

#one{
   -webkit-animation-delay: 1s;
           animation-delay: 1s;
}

#two{
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#three{
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}


@-webkit-keyframes animar{
  0%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33%{
    -webkit-transform: scale(.3);
            transform: scale(.3);
  }
  66%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes animar{
  0%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33%{
    -webkit-transform: scale(.3);
            transform: scale(.3);
  }
  66%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}





/*LEYENDO*/
.loader1 span {
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  -webkit-animation: blur 3s linear infinite;
          animation: blur 3s linear infinite;
  line-height: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0.2em;
 }
 
 @-webkit-keyframes blur {
  0%, 90% {
   -webkit-filter: blur(0);
           filter: blur(0);
  }
 
  50% {
   -webkit-filter: blur(10px);
           filter: blur(10px);
  }
 }
 
 @keyframes blur {
  0%, 90% {
   -webkit-filter: blur(0);
           filter: blur(0);
  }
 
  50% {
   -webkit-filter: blur(10px);
           filter: blur(10px);
  }
 }
/*Fin Separador*/

/*Separador*/

.containerSeparador {
  width: 80px;
  height: 100px;
}

.block {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #FFF;
}

.block:nth-child(4n+1) {
  -webkit-animation: wave_61 2s ease .0s infinite;
          animation: wave_61 2s ease .0s infinite;
}

.block:nth-child(4n+2) {
  -webkit-animation: wave_61 2s ease .2s infinite;
          animation: wave_61 2s ease .2s infinite;
}

.block:nth-child(4n+3) {
  -webkit-animation: wave_61 2s ease .4s infinite;
          animation: wave_61 2s ease .4s infinite;
}

.block:nth-child(4n+4) {
  -webkit-animation: wave_61 2s ease .6s infinite;
          animation: wave_61 2s ease .6s infinite;
  margin-right: 0;
}

@-webkit-keyframes wave_61 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 30px;
    opacity: .2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes wave_61 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 30px;
    opacity: .2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
/*Progreso*/